<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @car.car_type %>
</p>

<p>
  <strong>Car year:</strong>
  <%= @car.car_year %>
</p>

<p>
  <strong>Status:</strong>
  <%= @car.status %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
